<html>
  <head>
    <style type="text/css">
      .bold-lime-font {
      color: lime;
      font-weight: bold;
      }
      .bold-blue-font {
      color: blue;
      font-weight: bold;
      }
      .bold-silver-font {
      color: silver;
      font-weight: bold;
      }
      .bold-red-font {
      color: red;
      font-weight: bold;
      }
      .bold-fuchsia-font {
      color: fuchsia;
      font-weight: bold;
      }
      .center-text{
      text-align:center;
      }
      img.middle{
      padding-bottom: 4px;
      vertical-align: middle;
      }
    </style>
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type='text/javascript'>
      google.load('visualization', '1', {packages:['table']});
      google.setOnLoadCallback(drawTable);
      function drawTable() {
        var iconprocessing = "<img src=imgs/processing.png width=13 height=12 class=middle />";
        var iconcomplete = "<img src=imgs/complete.png width=13 height=12 class=middle />";
        var iconreceived = "<img src=imgs/complete.png width=13 height=12 class=middle />";
        var iconpending = "";
        var iconerror = "";
        var monitor = new google.visualization.DataTable();
        monitor.addColumn('string', 'Check');
        monitor.addColumn('number', 'JobID');
        monitor.addColumn('string', 'Status');
        monitor.addColumn('string', 'Machine' );
        monitor.addColumn('string', 'Start Time' );
        monitor.addColumn('string', 'Duration' );
      
        monitor.addRows( <!-- TMPL_VAR row-num --> );
        <!-- TMPL_LOOP rows -->
        monitor.setCell( <!-- TMPL_VAR row-id -->, 0, '<input type="checkbox" align="center" />' );
        monitor.setCell( <!-- TMPL_VAR row-id -->, 1, <!-- TMPL_VAR job-id -->, null, {"className" : "center-text"} );
        monitor.setCell( <!-- TMPL_VAR row-id -->, 2, "<!-- TMPL_VAR status -->", null, { "className" : "bold-<!-- TMPL_VAR status-color -->-font center-text"} );
        monitor.setCell( <!-- TMPL_VAR row-id -->, 3, icon<!-- TMPL_VAR status --> + "<!-- TMPL_VAR ip -->");
        monitor.setCell( <!-- TMPL_VAR row-id -->, 4, "<!-- TMPL_VAR start-time -->" );
        monitor.setCell( <!-- TMPL_VAR row-id -->, 5, "<!-- TMPL_VAR duration -->" );
        <!-- /TMPL_LOOP -->





        var table = new google.visualization.Table(document.getElementById('table_div'));
        table.draw(monitor, {showRowNumber: false, allowHtml:true, cssClassNames:{tableCell:'center-text'} } );
      }
    </script>
  </head>

  <body>
    <div id='table_div'></div>
  </body>
</html>
