<html>
  <head>
    <style type="text/css">
      .bold-lime-font {
      color: lime;
      font-weight: bold;
      }
      .bold-blue-font {
      color: blue;
      font-weight: bold;
      }
      .bold-silver-font {
      color: silver;
      font-weight: bold;
      }
      .bold-red-font {
      color: red;
      font-weight: bold;
      }
      .bold-fuchsia-font {
      color: fuchsia;
      font-weight: bold;
      }
      .center-text{
      text-align:center;
      }
      img.middle{
      padding-bottom: 4px;
      vertical-align: middle;
      }
    </style>
    <script type='text/javascript'>
      function create()
      {
      window.location = "http://" + window.location.hostname + ":" + window.location.port + "/create?name=" + document.getElementById('dname').value;
      }
      function updatebase()
      {
      window.location = "http://" + window.location.hostname + ":" + window.location.port + "/updatebase?path=" + document.getElementById('serverbase').value;
      }
      function updatelogpath()
      {
      window.location = "http://" + window.location.hostname + ":" + window.location.port + "/updatelog?path=" + document.getElementById('logpath').value;
      }
      <!-- TMPL_LOOP rows -->
      function enter<!-- TMPL_VAR id -->()
      {
      window.location = "http://" + window.location.hostname + ":" + window.location.port + "/gui?name=<!-- TMPL_VAR dispatcher-name -->";
      }
      function reset<!-- TMPL_VAR id -->()
      {
      window.location = "http://" + window.location.hostname + ":" + window.location.port + "/reset?name=<!-- TMPL_VAR dispatcher-name -->";
      }
      function recover<!-- TMPL_VAR id -->()
      {
      window.location = "http://" + window.location.hostname + ":" + window.location.port + "/recover?name=<!-- TMPL_VAR dispatcher-name -->";
      }
      <!-- /TMPL_LOOP -->
    </script>
  </head>
  
  <body>
    <b>Condor Server</b> running on 
    <script type="text/javascript">
      document.write( window.location.hostname + ":" + window.location.port );
    </script>
    <hr>
    <div id="create">
      <input type="text" id="dname" />
      <input type="button" name="create" value="New Dispatcher" onClick="create()" />
    </div>
    <hr>
    <b> Environment Settings </b>
    <br>
      <table>
        <tr>
          <td> Server Base: </td>
          <td> <input type="text" id="serverbase" value="<!-- TMPL_VAR server-base -->" size="30" /> </td>
          <td> <input type="button" name="updatebase" value="Update" onClick="updatebase()" /> 
            (a trailing "/" is necessary here) </td>
        </tr>
        <tr>
          <td> Logs: </td>
          <td> <input type="text" id="logpath" value="<!-- TMPL_VAR log-path -->" size="50" /> </td>
          <td> <input type="button" name="updatelogpath" value="Update" onClick="updatelogpath()" /> </td>
        </tr>
      </table>
    <hr>
    <div id='table_div'>
      <b> dispatchers: </b>
      <br>
      <br>
      <table border="1">
        <tr>
          <th>Dispatcher</th>
          <th> # jobs </th>
          <th> # pending </th>
          <th>-</th>
          <th>-</th>
          <th>-</th>
        </tr>
        <!-- TMPL_LOOP rows -->
        <tr>
          <th><!-- TMPL_VAR dispatcher-name --></th>
          <th><!-- TMPL_VAR jobs --></th>
          <th><!-- TMPL_VAR pending-jobs --></th>
          <th><input type="button" name="enter<!-- TMPL_VAR id -->" value="Enter" onClick="enter<!-- TMPL_VAR id -->()"></th>
          <th><input type="button" name="reset<!-- TMPL_VAR id -->" value="Reset" onClick="reset<!-- TMPL_VAR id -->()"></th>
          <th><input type="button" name="recover<!-- TMPL_VAR id -->" value="Recover" onClick="recover<!-- TMPL_VAR id -->()"></th>
        </tr>
        <!-- /TMPL_LOOP -->
      </table>
    </div>
  </body>
</html>
